#Header{
	border: solid 8px black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-allign: center;
	}

#LeftNav{
	border: solid 8px black;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-allign: center;
	}

#Content{
	border: solid 8px black;
	width: 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-allign: center;
	}

#Footer{
	border: solid 8px black;
	width: 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-allign: center;
	}